<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @catalog.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @catalog.description %>
</p>

<p>
  <strong>Points:</strong>
  <%= @catalog.points %>
</p>

<p>
  <strong>catalog type:</strong>
  <%= @catalog.categories_id %>
</p>

<%= link_to 'Back', catalogs_path %>
