<h1>Listing Categories</h1>

<table class="table table-striped table-bordered" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Name</th>
      <th class="action_section"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td class="action_section">
          <%= link_to_show [:admin, category] %>
          <%= link_to_edit edit_admin_category_path(category) %>
          <%= link_to_destroy [:admin, category] %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Category', new_admin_category_path, class: 'btn btn-primary' %>
