<% read_only = local_assigns[:show] ? true : false %>
<%= simple_form_for([:admin, @user_event_submission]) do |f| %>
  <% if @user_event_submission.check_point_limits %>
  <div class="alert alert-warning">
    <span>
      WARNING: User has already received <%= @user_event_submission.user.total_points %> points for this event period.
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </span>
  </div>
  <% end %>
  <div class="form-inputs">
    <%= f.association :user, disabled: true,
          label_method: :email, value_method: :id, include_blank: false %>
    <%= f.association :event, disabled: true,
          label_method: :name, value_method: :id, include_blank: false %>
    <%= f.input :attachment, as: :attachment_preview %>
    <%= f.input :status, readonly: read_only, include_blank: true,
                  collection: UserEventSubmission::SUBMISSION_STATUS.map {|k,v| [v,k.to_s]} %>
    <%= f.input :points, readonly: read_only, as: :integer %>
    <%= f.input :notes, readonly: read_only %>
  </div>

  <div class="form-actions">
    <% unless read_only %>
    <%= f.button :submit, class: 'btn btn-primary' %>
    <% end  %>
    <%= link_to 'Back', admin_user_event_submissions_path, class: 'btn btn-default' %>
  </div>
<% end %>
