<h1>Listing Submissions</h1>

<table class="table table-striped table-bordered" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>User</th>
      <th>Event</th>
      <th>Date</th>
      <th class="action_section"></th>
    </tr>
  </thead>

  <tbody>

    <% @user_event_submissions.each do |submission| %>

      <tr>
        <td><%= submission.user.email %></td>
        <td><%= submission.event.name %></td>
        <td>
          <%= submission.created_at.strftime("%b %e, %Y") %>
        </td>
        <td class="action_section">
          <% if submission.attachment_url %>
            <%= link_to_custom submission.attachment_url, "download", "Download" %>
          <% end %>

          <% if submission.processed?  %>
          <%= link_to_show admin_user_event_submission_path(submission) %>
          <% else  %>
          <%= link_to_custom edit_admin_user_event_submission_path(submission), "wrench", "Process" %>
          <% end  %>

          <% if submission.approved? %>
          <%= link_to_destroy [:admin, submission] %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
