<!DOCTYPE html>
<html>
<head>
  <title>Pabuya!</title>
  <%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'admin', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="nav-md">
  <div class="container body">
    <% flash.each do |key, value| %>
        <div align="center" id="flash" class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
    
    <%= render "admin/partials/sidenav" %>
    <%= render "admin/partials/topnav" %>

    <div class="right_col" role="main">
      <%= yield %>
    </div>

    <%= render "partials/footer" %>
    <%= javascript_include_tag 'gentelella/build/js/custom', 'data-turbolinks-track' => true %>

  </div>
</body>
</html>
