<!DOCTYPE html>
<html>
<head>
  <title>Pabuya!</title>
  <%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'admin', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="nav-md">
  <div class="container body">
    <%= render "admin/partials/sidenav" %>
    <%= render "admin/partials/topnav" %>

    <div class="right_col" role="main">
      <div class="clearfix"></div>
      <%= flash_messages %>
      <%= yield %>
    </div>

    <%= render "partials/footer" %>
    <%= javascript_include_tag 'admin/footer_manifest', 'data-turbolinks-track' => true %>
  </div>

  <%= render "partials/page_tag" %>
</body>
</html>
