<!DOCTYPE html>
<html>
<head>
  <title>Pabuya!</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'theme1', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="nav-md">
  <div class="container">
    <%= render "partials/header" %>

    <div class="content">
      <div class="clearfix"></div>
      <%= flash_messages %>
      <%= yield %>
    </div>

    <%= render "partials/footer" %>

  </div>

  <%= render "partials/page_tag" %>
</body>
</html>
