<!DOCTYPE html>
<html>
<head>
  <title>Pabuya!</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'theme1', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="nav-md">
  <div class="container">
    <% flash.each do |key, value| %>
        <div align="center" id="flash" class="alert alert-<%= key %>"><%= value %></div>
    <% end %>

    <%= render "partials/header" %>

    <div class="content">
      <%= yield %>
    </div>



    <%= render "partials/footer" %>
    <%= javascript_include_tag 'gentelella/build/js/custom', 'data-turbolinks-track' => true %>

  </div>
</body>
</html>
